* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.animate__btn {
    background: linear-gradient(45deg, #ec33ecde, purple, orange);
    width: 250px;
    padding: 30px 0;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    animation: animatePulse 5s ease infinite;
    background-size: 400% 400%;
    /* animation-timing-function: linear; */
}

/* @keyframes animatePulse {
    0% {
        transform: scale3d(1, 1, 1);
        box-shadow: 0 0 0 0;
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
        box-shadow: 0 0 0 20px rgb(228, 10, 10, 0.3);
    }

    100% {
        transform: scale3d(1, 1, 1);
        box-shadow: 0 0 0 0 rgb(228, 10, 10, 0.3);
    }
} */

@keyframes animatePulse {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}